/* Sticky Nav Style */

.header-layout-1 {}
.header-layout-2 {}
.header-layout-3 {}

@media screen and (min-width: 800px) {

    .site-header {
        position: fixed;
        z-index: 100;
        -webkit-transition: height 0.5s;
                transition: height 0.5s;
    }

    body.boxed .site-wrapper .site-header {
        max-width: 1144px;
    }
    
    .site-header.shrink {
        z-index: 102;
    }

    .site-header .site-header-main,
    .site-header .site-branding,
    .site-header .custom-logo,
    .site-header .site-navigation,
    .site-header .site-title,
    .site-header .site-description,
    #menu-main-navigation {
        -webkit-transition: all 0.3s;
                transition: all 0.3s;
    }

    #menu-main-navigation {
        margin: 22px 0;
        margin: 2.2rem 0;
    }

    .site-header .site-branding {
        max-width: 30%;
    }

    .site-header .site-navigation {
        max-width: 70%;
    }

    /* shrink */

    .site-header.shrink {
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
    }

    .site-header.shrink .header-bar {
        height: 1px;
        overflow: hidden;
    }

    .site-header.shrink .site-title {
        white-space: nowrap;
    }

    .site-header.shrink .custom-logo + .site-title {
        display: none;
    }
    .site-header.shrink .site-description {
        display: none;
        /*font-size: 0;*/
    }

    .site-header.shrink .site-header-main {
        background-image: none;
        padding: 0;
    }

    .site-header.shrink .site-branding {
        height: 0;
    }
    .site-header.shrink .custom-logo {
        height: 60px;
        padding: 0;
    }

    .site-header.shrink .site-branding {
        float: left;
    }

    .site-header.shrink .custom-logo a { padding-bottom:60px; }

    .site-header.shrink .site-navigation {
        height: 60px;
        float: right;
    }

    .site-header.shrink .site-navigation .menu li a {
        font-size: 18px;
        font-size: 1.8rem;
    }

    .site-header.shrink #menu-main-navigation {
        margin: 5px 0;
        margin: 0.5rem 0;
    }

    .site-navigation .menu {
        display: block;
    }

    /* Layout 2 */

    .header-layout-2.shrink {}

    .header-layout-2 .site-branding {
        /*max-width: 100%;*/
    }

    .header-layout-2 .site-navigation {
        max-width: 100%;
    }
    .header-layout-2.shrink .custom-logo {
        display: block;
    }

}